/* Estilos para o cabeçalho e nav em dispositivos móveis */
@media screen and (max-width: 768px) {
    .header {
        padding: 0.5rem;
    }

    #banner {
        height: 400px;
        background-size: 800px;
    }

    .logotipo {
        margin-left: 20px;
    }

    ul {
        padding: 0 20px;
    }

    li {
        font-size: 16px;
        margin: 0 5px;
    }

    .logoname {
        font-size: 1.2rem;
    }
}

/* Estilos para a seção de informações em dispositivos móveis */
@media screen and (max-width: 768px) {
    .informacao-container {
        padding: 20px;
    }

    .carousel-button {
        display: none;
    }

    .cards-contents {
        display: block;
    }

    .informacao-content h2 {
        font-size: 2em;
    }

    
    .informacao-content p {
        font-size: 1em;
        line-height: 1.6;
    }
}

/* Adaptação específica para a seção 'E quem pode aprender?' em dispositivos móveis */
@media screen and (max-width: 768px) {
    .informacao-content p::before {
        content: "• ";
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
.image-container {
    display: flex;
    overflow: hidden; /* Esconde conteúdo além do contêiner */
    position: relative; /* Necessário para controlar a posição dos slides */
}

.image-wrapper {
    flex: 0 0 100%; /* Ocupa 100% da largura inicialmente */
    transition: transform 0.5s ease; /* Transição suave de deslize */
}

.image {
    width: 100%;
    height: 400px; /* Altura ajustada para exemplo */
    background-size: cover;
    background-position: 50%;
}
.texto-jovens {
    height: 150px;
}
.text-container {
    padding: 20px;
    text-align: center;
}

.text-container h2 {
    font-size: 3em;
    color: #0b5394;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
}

.text-container p {
    font-size: 1em;
    color: #FA6800;
    font-family: "Play", sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}
}

@media screen and (max-width: 768px) {


/* CSS para Fotos do Curso */
.fotos-curso-container {
    padding: 20px;
}

.fotos-curso-content {
    display: flex;
    flex-wrap: wrap; /* Permite que as fotos sejam organizadas em linhas e colunas */
    gap: 20px; /* Espaçamento entre as fotos */
}

.foto-curso {
    flex: 1 0 calc(50% - 20px); /* Cada foto ocupa metade da largura disponível, com espaço entre elas */
    height: 300px; /* Altura das fotos */
    background-size: cover;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .foto-curso {
        flex-basis: calc(25% - 20px); /* Cada foto ocupa um quarto da largura disponível */
    }
}


/* Estilos para Atendimento */
.atendimento-container {
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

}

.atendimento-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 600px; /* Limita a largura máxima dos itens para melhor legibilidade */
    width: 100%; /* Garante que a largura seja responsiva */
}

.atendimento-item {
    width: calc(70% - 20px); /* Cada item ocupa metade da largura disponível, com espaço entre eles */
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.atendimento-item .icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    flex-shrink: 0; /* Evita que o ícone seja reduzido em tamanhos menores */
    
}

.atendimento-item:nth-child(1) .icon {
    background-image: url('/src/media/1.webp');
}

.atendimento-item:nth-child(2) .icon {
    background-image: url('/src/media/2.webp');
}

.atendimento-item:nth-child(3) .icon {
    background-image: url('/src/media/3.webp');
}

.atendimento-item:nth-child(4) .icon {
    background-image: url('/src/media/4.webp');
}

.atendimento-item h4 {
    font-size: 1em;
    color: #0b5394;
    font-family: "Play", sans-serif;
    margin: 0;
}
#card-banner-8 {
    background-position: 10% 50%;
}

#card-banner-7 {
    background-position: 10% 50%;
}

#card-banner-6 {
    background-position: 10% 50%;
}

}

/* Estilos para celular */
@media (max-width: 767px) {
    .antes-depois {
        flex-direction: column; /* Altera para coluna para empilhar os itens */
        align-items: center; /* Centraliza os itens na coluna */
    }

    .antes-depois-item {
        width: 100%; /* Ocupa toda a largura disponível */
        height: 300px; /* Altura ajustada para celular */
        margin-bottom: 20px; /* Espaçamento entre os itens */
    }

    /* Esconde as imagens 2 e 3 em telas menores */
    #antes-depois-2,
    #antes-depois-3 {
        display: none;
    }

    .card-banner {
        opacity: 1;
}
/* Estilos padrão para desktop */
.antes-depois {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1e6d94;
    padding: 20px;
}

.antes-depois-item {
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
}


#antes-depois-1 {
    background-image: url('/src/media/Comparativos/MariaClara.webp');
}

.footer-links {
    display: none;
}

}