@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Play:wght@400;700&display=swap');

/* Reset global */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}

html, body {
    overflow-x: hidden;
    background-color: #eee8e8;
}
/* Estilo do cabeçalho */
/* Estilo do cabeçalho */
.header {
    position: fixed;
    width: 100%;
    background-color: #000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 5px solid #007bff;
    text-align: center;
}

.header::before,
.header::after {
    content: '';
    display: block;
}

.header::before {
    margin-right: 10px; 
}

.header::after {
    margin-left: 10px; 
}

.header .logotipo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header .logotipo img {
    width: 60px; 
    margin-right: 10px;
}

.header .logoname {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

.header .logoname:hover{
    color: #FA6800;
    transition: 0.3s;
}

.mobile-nav-toggle {
    display: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.mobile-nav {
    display: none;
    position: fixed;
    top: 76px; /* Ajuste conforme necessário */
    left: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
}

.mobile-nav.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-nav ul li {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s ease-in-out forwards;
}

.mobile-nav ul li:nth-child(1) { animation-delay: 0.1s; }
.mobile-nav ul li:nth-child(2) { animation-delay: 0.2s; }
.mobile-nav ul li:nth-child(3) { animation-delay: 0.3s; }

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para o banner */
#banner {
    background-color: #000000;
    text-align: center;
    background-image: url('../media/naruto.webp');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-top: 90px;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 35, 35, 0.205);
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 80%;
}

.aulas {
    padding: 20px 20px;
    text-align: center;
}

.aulas h2 {
    font-size: 2em;
    color: #0b5394;
    margin-bottom: 20px;
    font-family: "Play", sans-serif;
    letter-spacing: 2px;
}
.cards-de-desenhos {
    background-color: #f2f2f2;
    padding: 20px;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

.cards-contents {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.card-banner {
    flex: 0 0 calc(33.333% - 20px);
    height: 500px;
    background-color: #ddd;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    margin: 0 10px;
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card-banner.active {
    opacity: 1;
    transform: scale(1.05);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

/* Estilos específicos para cada card-banner */
#card-banner-1 { background-image: url('/src/media/desenhos/aguiaPS.webp'); }
#card-banner-2 { background-image: url('/src/media/desenhos/arara2.webp'); }
#card-banner-3 { background-image: url('/src/media/desenhos/borboleta.webp'); }
#card-banner-4 { background-image: url('/src/media/desenhos/dino2.webp'); }
#card-banner-5 { background-image: url('/src/media/desenhos/InstagramCapture_88f4e346-2bac-4d34-8554-5073a70fce71.webp'); }
#card-banner-6 { background-image: url('/src/media/desenhos/20200602_075745.webp'); background-position: 40% 50%; }
#card-banner-7 { background-image: url('/src/media/desenhos/20200602_075915.webp'); }
#card-banner-8 { background-image: url('/src/media/desenhos/20200602_075959.webp'); }
#card-banner-9 { background-image: url('/src/media/desenhos/IMG_20200416_160332_954.webp'); }
#card-banner-10 { background-image: url('/src/media/Fotos-alunos/foto1.webp'); }
#card-banner-11 { background-image: url('/src/media/Fotos-alunos/foto2.webp'); }
#card-banner-12 { background-image: url('/src/media/Fotos-alunos/foto3.webp'); }
#card-banner-13 { background-image: url('/src/media/Fotos-alunos/foto4.webp'); }
#card-banner-14 { background-image: url('/src/media/Fotos-alunos/foto5.webp'); }
#card-banner-15 { background-image: url('/src/media/Fotos-alunos/foto6.webp'); }
#card-banner-16 { background-image: url('/src/media/Fotos-alunos/foto7.webp'); }
#card-banner-17 { background-image: url('/src/media/Fotos-alunos/foto8.webp'); }
#card-banner-18 { background-image: url('/src/media/Fotos-alunos/foto9.webp'); }
#card-banner-19 { background-image: url('/src/media/Fotos-alunos/foto10.webp'); }
#card-banner-20 { background-image: url('/src/media/Fotos-alunos/foto11.webp'); }
#card-banner-21 { background-image: url('/src/media/Fotos-alunos/foto12.webp'); }
#card-banner-22 { background-image: url('/src/media/Fotos-alunos/foto13.webp'); }
#card-banner-23 { background-image: url('/src/media/Fotos-alunos/foto14.webp'); }
#card-banner-24 { background-image: url('/src/media/Fotos-alunos/foto15.webp'); }
#card-banner-25 { background-image: url('/src/media/Fotos-alunos/foto16.webp'); }


/* Estilos para Objetivos */
.objetivos-container {
    display: flex;
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.objetivos-container h2 {
    font-size: 2.5em;
    font-family: "Lato", sans-serif;
    color: #0b5394;
}

/* Estilos para Experiências, Técnicas, Criatividade */
.image-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap;
    padding: 20px;
}

.image-wrapper {
    width: calc(30% - 20px); 
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 40px;
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.image-wrapper:hover {
    transform: translateY(-10px); 
}

.image {
    width: 100%;
    height: 300px; 
    background-size: cover;
    background-position: 50%;
    border-radius: 15px;
}

.image-1 {
    background-image: url('../media/image1.webp');
}

.image-2 {
    background-image: url('../media/image2.webp');
}

.image-3 {
    background-image: url('../media/image3.webp');
}

.text-container {
    padding: 20px;
}

.text-container h3 {
    font-size: 3em;
    color: #0b5394;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
   
}

.text-container p {
    font-size: 1.2em;
    color: #fa6800;
    font-family: "Play", sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}


/* Estilos para Texto Jovens */
.texto-jovens {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 80px;
    background-color: #1e6d94;;
    font-family: "Play", sans-serif;
}

.texto-jovens p {
    font-size: 1.5em;
    color: #ffffff;
}

/* Estilos para Antes e Depois */
.antes-depois {
    background: linear-gradient(to bottom, #1e6d94, #0b5394);
    padding: 20px;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

.antes-depois-carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.antes-depois-item {
    flex: 0 0 100%;
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.antes-depois-item.active {
    opacity: 1;
    transform: scale(1.05);
}

#antes-depois-1 {
    background-image: url('/src/media/Comparativos/MariaClara.webp');
}

#antes-depois-2 {
    background-image: url('/src/media/Comparativos/Sofia.webp');
}

#antes-depois-3 {
    background-image: url('/src/media/Comparativos/Valentina.webp');
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(99, 99, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    color: rgb(99, 99, 255);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

/* Estilos para Informação */
.informacao-container {
    background-color: #f9f9f9; 
    padding: 40px 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px 0; 
}

.informacao-content {
    max-width: 800px; 
    margin: 0 auto; 
}

.informacao-content h2 {
    font-size: 2.5em; 
    color: #0b5394; 
    margin-bottom: 20px; 
    font-family: "Play", sans-serif; 
}

.informacao-content p {
    font-size: 1.2em; 
    color: #333; 
    line-height: 1.6;
    font-family: "Play", sans-serif; 
    margin: 10px 0; 
}

.informacao-content p::before {
    content: "• "; 
    color: #FA6800; 
    font-size: 1.5em; 
    margin-right: 10px; 
    vertical-align: middle; 
}


/* Divider com ícone */
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #ccc; 
}

.divider:not(:empty)::before {
    margin-right: .25em;
}

.divider:not(:empty)::after {
    margin-left: .25em;
}

.divider span {
    padding: 0 10px;
    color: #FA6800; 
    font-size: 1.5em; 
}


/* Estilos para Depoimentos */
.depoimentos-container {
    text-align: center;
    padding: 20px;
    background-color: #0b5394;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.depoimentos-container h2 {
    font-size: 2em;
    color: #ffffff;
    font-family: "Play", sans-serif;
}

.depoimentos-texto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
}

.depoimentos-texto-content {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.depoimento {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 10px;
}

.depoimento p {
    font-size: 1.5em;
    color: #333;
    line-height: 1.6;
    font-family: "Play", sans-serif;
}

.depoimento h3 {
    font-size: 1.2em;
    color: #0b5394;
    margin-top: 10px;
    font-family: "Lato", sans-serif;
}


/* Estilos para Atendimento */
.atendimento-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.atendimento-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 80%;
}

.atendimento-item {
    text-align: center;
    padding: 10px;
    flex: 1;
}

.icon {
    width: 350px; 
    height: 350px; 
    background-size: cover;
    background-position: center;
    margin: 0 auto 10px; 
    border-radius: 10px;
}

.atendimento-item:nth-child(1) .icon {
    background-image: url('/src/media/1.webp');
}

.atendimento-item:nth-child(2) .icon {
    background-image: url('/src/media/2.webp');
}

.atendimento-item:nth-child(3) .icon {
    background-image: url('/src/media/3.webp');
}

.atendimento-item:nth-child(4) .icon {
    background-image: url('/src/media/4.webp');
}

.atendimento-item h4 {
    font-size: 1.5em;
    color: #0b5394;
    margin-top: 10px;
    font-family: "Play", sans-serif;
}


.local-container {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.local-content {
    max-width: 800px;
    margin: 0 auto;
}

.local-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.local-content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.map-container {
    width: 100%;
    height: 400px;
}

.social-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
}

.social-link {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.social-link.whatsapp {
    color: #25d366;
}

.social-link.instagram {
    color: #e4405f;
}

.fotos-curso-container {
    padding: 40px 20px;
    background-color: #f2f2f2;
    text-align: center;
}

.fotos-curso-content {
    display: flex;
    justify-content: space-around;
}

.foto-curso {
    width: 30%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

#foto-curso-1 { background-image: url('./src/media/curso1.jpg'); }
#foto-curso-2 { background-image: url('./src/media/curso2.jpg'); }
#foto-curso-3 { background-image: url('./src/media/curso3.jpg'); }

/* ícones da página */

.contact-info i {
color: #007BFF;
font-size: 1.5rem;
}

.contact-info p {
    font-size: 1.2rem;
}
    
.icon-info i {
    font-size: 2rem; 
    color: #007BFF; 
}

.icon-info a {
    text-decoration: none;
    color: inherit;
}

.icon-info a:hover {
    text-decoration: none; 
}

.icon-info p {
    display: inline-block;
    margin: 0 10px; 
}

#zap {
    color: #25d366;
}

#insta {
    color: #e4405f;
}

#email {
    color: #e65c00;
}

/* Estilos para Fotos do Curso */
.fotos-curso-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.fotos-curso-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    
}

.foto-curso {
    width: calc(25% - 20px);
    height: 200px;
    margin: 10px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

#foto-curso-1 {
    background-image: url('/src/media/fotos-do-estudio/estudioweb.webp');
}

#foto-curso-2 {
    background-image: url('/src/media/fotos-do-estudio/estudioweb2.webp');
}

#foto-curso-3 {
    background-image: url('/src/media/bio.webp');
}

#foto-curso-4 {
    background-image: url('/src/media/shopping.webp');
}

.reserva-lugar-container {
    margin: 20px 0;
}

.reserva-lugar-container button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #0b5394;
    border: none;
    cursor: pointer;
}

/* Estilos para Localização */
.local-container {
    text-align: center;
    padding: 20px;
}

.local-content h2 {
    font-size: 2em;
    color: #0b5394;
    margin-bottom: 20px;
    font-family: "Play", sans-serif;
}

.local-content p {
    font-size: 1em;
    color: #333;
    font-family: "Play", sans-serif;
}

.map-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.static-map {
    max-width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilos para informações de contato */
.contact-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info a {
    color: #1e6d94;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Estilos para o botão de reserva */
.reserva-lugar-container {
    text-align: center;
    margin-top: 20px;
}

.reserva-lugar-container button {
    background-color: #fa6800;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    font-family: "Lato", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.reserva-lugar-container button:hover {
    background-color: #e65c00;
    transform: scale(1.05);
}

/* Estilos para o rodapé */
.copyright {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0; /* Ajuste conforme necessário */
    font-size: 0.9rem;
    font-family: 'lato', sans-serif;
    font-weight: bold;
}

.copyright p {
    margin: 0;
}


/* CONFIGURAÇÃO MOBILE */
/* Estilos para o cabeçalho e nav em dispositivos móveis */
@media screen and (max-width: 768px) {
    #banner {
        height: 400px;
        background-size: 800px;
    }
}

/* Estilos para a seção de informações em dispositivos móveis */
@media screen and (max-width: 768px) {
    .informacao-container {
        padding: 20px;
    }


    .informacao-content h2 {
        font-size: 2em;
    }

    
    .informacao-content p {
        font-size: 1em;
        line-height: 1.6;
    }

}

/* PARA CARDS IMAGEN */
@media screen and (max-width: 1024px) {
    .card-banner {
        flex: 0 0 calc(50% - 20px);
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .card-banner {
        flex: 0 0 calc(100% - 20px);
        height: 350px;
    }

    .carousel-button {
        padding: 25px 10px;
    }
}

/* Adaptação específica para a seção 'E quem pode aprender?' em dispositivos móveis */
@media screen and (max-width: 768px) {
    .informacao-content p::before {
        content: "• ";
        font-size: 1em;
    }
}


@media screen and (max-width: 768px) {
.image-container {
    display: flex;
    overflow: hidden; /* Esconde conteúdo além do contêiner */
    position: relative; /* Necessário para controlar a posição dos slides */
}

.image-wrapper {
    flex: 0 0 100%; /* Ocupa 100% da largura inicialmente */
    transition: transform 0.5s ease; /* Transição suave de deslize */
}

.image {
    width: 100%;
    height: 400px; /* Altura ajustada para exemplo */
    background-size: cover;
    background-position: 50%;
}
.texto-jovens {
    height: 150px;
}
.text-container {
    padding: 20px;
    text-align: center;
}

.text-container h2 {
    font-size: 3em;
    color: #0b5394;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
}

.text-container p {
    font-size: 1em;
    color: #FA6800;
    font-family: "Play", sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}
}

@media screen and (max-width: 768px) {


/* CSS para Fotos do Curso */
.fotos-curso-container {
    padding: 20px;
}

.fotos-curso-content {
    display: flex;
    flex-wrap: wrap; /* Permite que as fotos sejam organizadas em linhas e colunas */
    gap: 20px; /* Espaçamento entre as fotos */
}

.foto-curso {
    flex: 1 0 calc(50% - 20px); /* Cada foto ocupa metade da largura disponível, com espaço entre elas */
    height: 300px; /* Altura das fotos */
    background-size: cover;
    border-radius: 10px;
}



@media screen and (min-width: 768px) {
    .foto-curso {
        flex-basis: calc(25% - 20px); /* Cada foto ocupa um quarto da largura disponível */
    }
}

/* Estilos para Atendimento */
.atendimento-container {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center; /* Centraliza o conteúdo em telas menores */
}

.atendimento-content {
    display: flex;
    flex-direction: column; /* Empilha os itens verticalmente em telas menores */
    gap: 20px;
    max-width: 600px; /* Limita a largura máxima dos itens para melhor legibilidade */
    margin: 0 auto; /* Centraliza o container */
}

.atendimento-item {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.atendimento-item .icon {
    width: 80px;
    height: 80px;
    background-size: cover;
    flex-shrink: 0; /* Evita que o ícone seja reduzido em tamanhos menores */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.atendimento-item h4 {
    font-size: 1em;
    color: #0b5394;
    font-family: "Play", sans-serif;
    margin: 0;
    flex-grow: 1; /* Ocupa todo o espaço disponível */
}


.atendimento-item:nth-child(1) .icon {
    background-image: url('/src/media/1.webp');
}

.atendimento-item:nth-child(2) .icon {
    background-image: url('/src/media/2.webp');
}

.atendimento-item:nth-child(3) .icon {
    background-image: url('/src/media/3.webp');
}

.atendimento-item:nth-child(4) .icon {
    background-image: url('/src/media/4.webp');
}

}

@media screen and (min-width: 481px) and (max-width: 1280px) {
    .atendimento-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .atendimento-item {
        text-align: center; /* Centraliza o conteúdo dentro de cada item */
        margin-bottom: 20px; /* Espaçamento inferior entre os itens */
    }
}

/* configuração de antes e depois  */

@media screen and (min-width: 768px) {
    .antes-depois-item {
        flex: 0 0 calc(50% - 40px);
        height: 400px;
        margin: 0 20px;
    }
}

@media screen and (min-width: 1366px) {
    .antes-depois-carousel {
        justify-content: center;
    }

    .antes-depois-item {
        flex: 0 0 calc(33.333% - 60px);
        height: 500px;
        margin: 0 30px;
        background-size: cover;
    }
}

/* configuração do header */


@media screen and (max-width: 768px) {
    .mobile-nav-toggle {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
    
    .mobile-nav.active {
        display: block;
    }
}

@media screen and (min-width: 769px) {
    .mobile-nav-toggle, .mobile-nav {
        display: none;
    }

    .header .desktop-nav {
        display: block;
    }

    .header .desktop-nav ul {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .header .desktop-nav ul li {
        margin-right: 20px;
    }

    .header .desktop-nav ul li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
        font-family: 'Lato', sans-serif;
    }

    .header .desktop-nav ul li a i {
        width: 20px; /* Ajuste conforme necessário */
        margin-right: 5px; /* Espaçamento entre ícone e texto */
    }

    .header a {
        transition: transform 0.3s ease;
        display: inline-block;
    }

    .header a:hover {
        color: rgb(255, 174, 0);
        transition: 0.3s;
        transform: scale(1.1);
    }

    
}

@media (max-width: 768px) {
    .beneficios-container {
        max-width: 90%;
    }

    .beneficios-container .divider span {
        font-size: 1.5em;
    }
    
}

/* Estilos para a seção de cursos */
.cursos-container {
    padding: 20px;
    max-width: 70%;
    margin: 20px auto; /* centraliza horizontalmente */
    font-family: 'Lato', sans-serif; /* Fallback para Lato caso a Arvo não carregue */
    text-align: center;
}

.cursos-container h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
    font-family: 'Arvo', serif;
}

.curso {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left; /* alinha o texto do curso à esquerda */
}

.curso h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Arvo', serif;
}

.curso p {
    color: #555;
    margin-bottom: 8px;
    line-height: 1.6;
}

.curso ul {
    list-style-type: disc;
    padding-left: 20px;
}

.curso ul li {
    margin-bottom: 8px;
    line-height: 1.6;
}

/* Estilos específicos para links dentro dos cursos */
.curso a {
    color: #007bff;
    text-decoration: none;
}

.curso a:hover {
    text-decoration: underline;
}

.imagem-centro {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 25%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto; /* Altura automática proporcional à largura */
    margin-top: 130px;
}

    /* Estilos para o mobile */
    @media (max-width: 768px) {
        .cursos-container {
            max-width: 90%; /* Reduz a largura máxima para telas menores */
        }

        .imagem-centro {
            max-width: 80%; /* Ajusta o tamanho máximo da imagem para telas menores */
            margin-top: 150px; /* Reduz o espaçamento superior da imagem */
        }
    }

/* ÁREA DE DÚVIDAS */
.beneficios-container {
    padding: 20px;
    max-width: 70%; /* Reduz a largura máxima para telas menores */
    margin: 20px auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 150px;
}

.beneficios-container h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8em; /* Reduz o tamanho do título para telas menores */
    font-family: 'Arvo', serif;
}

.beneficios-container .divider {
    margin: 20px 0;
}

.beneficios-container .divider span {
    font-size: 1.5em; /* Reduz o tamanho do emoji na divisória para telas menores */
}

.beneficios-container p {
    margin-bottom: 20px;
}

.beneficio {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.beneficio-title {
    color: #333;
    font-size: 1.4em; /* Reduz o tamanho do título dos benefícios */
    margin-bottom: 10px;
    font-family: 'Arvo', serif;
}

.beneficio ul, .beneficio ol {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.beneficio ul li, .beneficio ol li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.beneficio ol {
    counter-reset: list;
}

.beneficio ol li {
    counter-increment: list;
}

.beneficio ol li::before {
    content: counter(list) ". ";
    font-weight: bold;
    color: #007bff;
}

.beneficio p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.italic p {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center; 
}

/* Estilo para dispositivos Android */
@media only screen and (max-width: 767px) {
    .beneficios-container {
        max-width: 90%;
    }
    .italic {
        text-align: left; 
    }
}
